/*      Import Google Fonts      */
@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Open+Sans:wght@300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;800&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Import Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-button {
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(109, 9, 121, 1) 35%,
    rgba(203, 42, 42, 1) 75%
  );
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 30px;
  border: none !important;
  color: white;
}
